@model Korgie.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<div layout="column" layout-align="center center" style="width:100%;height:100%;background-color:#B2DFDB">
    <div class="error-logo" style="width:170px;"></div>
    <div style="width:600px;text-align:center; padding:15px 15px 0px 15px; background-color:#4DB6AC" class="card registraton">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <span class="fs-title display-block tc-blue-800">Enter your Name to complete registration!</span>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label login-conf-name-label tc-blue-800" })
                <div class="col-md-10" style="margin-top:10px;margin-bottom:10px;">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control login-conf-textbox" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label tc-blue-800" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-conf-textbox", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" class="btn btn--s btn--blue btn--raised" value="Register"/>
            </div>
        }
    </div>
</div>
