@using Microsoft.Owin.Security
<div class="background-image" layout="column" layout-align="center center">
        <div class="text-center start-page-content home-block" layout="column" layout-align="space-between center">
            <div class="error-logo"></div>
            <h1>Welcome to the Korgie!</h1>
            <div class="hr"></div>
            <p>Korgie is a useful organizer, that can save your everyday life! Try Korgie to remember every detail in your plans. Events, to-do lists, sharing with friends – everything you need is here!</p>
            <div class="hr"></div>
            @{
                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">
                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" class="btn btn--m btn--blue btn--raised" lx-ripple id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Sign in with @p.AuthenticationType</button>
                        }
                    </div>
                }
            }
        </div>
</div>